<!doctype html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<title>{$web_tdk.name}|收货地址列表</title>
<meta name="keywords" content="{$web_tdk.keywords}" />
<meta name="description" content="{$web_tdk.desc}" />
{include file="common/link"}
</head>
<body>


<div class="noo-spinner">
	<div class="spinner">
		<div class="cube1"></div>
		<div class="cube2"></div>
	</div>
</div>
<!-- 移动端导航开始 -->
{include file="common/mobile-part"}
<!-- 移动端导航结束 -->

<div class="site">
	{include file="common/head-message"}
	{include file="common/header-part"}

	<header class="header header-mobile">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div class="header-left">
						<div id="open-left"><i class="ion-navicon"></i></div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="header-center">
						<a href="javascript:;" id="logo-2">
							<img class="logo-image" src="__INDEX__/images/logo.png" alt="Organik Logo" />
						</a>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="header-right">
						<div class="mini-cart-wrap">
							<a href="cart.html">
								<div class="mini-cart">
									<div class="mini-cart-icon" data-count="2">
										<i class="ion-bag"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="main">
		<div class="section section-bg-10 pt-11 pb-17">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-title text-center">user us</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-2 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumbs">
							<li><a href="{:url('index/index')}">首页</a></li>
							<li>个人中心</li>
							<li>收货地址列表</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


        <!-- 详情页开始 -->
		<div class="section pt-7 pb-7">
			<div class="container">
				<div class="row">
                    <!-- 侧栏导航 -->
					{include file="common/user-sidebar"}

					<div class="col-md-9">
                        <div class="tplay-body-div">
                            <div class="layui-tab">
                              <ul class="layui-tab-title">
                                <li class="layui-this">收货地址列表</li>
                                <li><a href="{:url('user/address')}" class="a_menu">新增收货地址</a></li>
                              </ul>
                            </div>
                            <ul class="am-avg-sm-1 am-avg-md-3 am-thumbnails">
								{volist name="addresslist" id="vo"}
								<form class="layui-form" id="admin">
	                                <li class="user-addresslist defaultAddr">
										{if condition="$vo['is_default'] eq 1 "}
	                                    <span id="default-site">默认地址</span>
										{else}
										{/if}
	                                    <div class="layui-form-item" style="margin:0;">
	                                        <label class="layui-form-label" style="padding:9px 0;">收货人:</label>
	                                        <label class="layui-form-label" style="width: 175px;text-align:center;">{$vo.address_name}</label>
	                                    </div>
	                                    <div class="layui-form-item" style="margin:0;">
	                                        <label class="layui-form-label" style="padding:9px 0;">电话号码</label>
	                                        <label class="layui-form-label" style="width: 175px;text-align:center;">{$vo.address_phone}</label>
	                                    </div>
	                                    <div class="layui-form-item" style="margin:0;">
	                                        <label class="layui-form-label" style="padding:9px 0;">详细地址</label>
	                                        <label class="layui-form-label" style="width: 175px;text-align:center;">{$vo.address_site}</label>
	                                    </div>
										<input type="hidden" name="id" value="{$vo.id}" id="site-id">
	                                    <div class="layui-form-item" style="margin:0;text-align: center;">
	                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="default_submit (this,'{$vo['id']}')">设为默认</button>
											<a href="{:url('user/edit_address',array('id'=>$vo['id']))}"><button type="button" class="layui-btn layui-btn-warm layui-btn-xs">修改</button></a>
	                                        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="del_submit(this,'{$vo['id']}')">删除</button>
	                                    </div>
	                                </li>
								</form>
								{/volist}
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- 详情页结束 -->
	</div>
    {include file="common/footer"}
</div>
<!-- 选项卡css -->
<style>
    .defaultAddr{
        overflow: hidden;
        border: none;
        display: block;
        width: 255px;
        height: 300px;
        float: left;
        margin-right: 10px;
    }
    #default-site{
        float:right;
        color:#5fbd74;
    }

</style>
</body>
<script>
	//layer弹窗组件
	layui.use(['form', 'layer'],
	function() {
		$ = layui.jquery;
		var form = layui.form,
		layer = layui.layer;
	});

	//删除地址
	function del_submit (obj,id) {
		var data = {
			id:id,
			type:'del',
		}
		ajax_reg(data);
		return false;
	}

	//设为默认地址
	function default_submit (obj,id) {
		var data = {
			id:id,
			type:'default',
		}
		ajax_reg(data);
		return false;
	}

	/**
	 * 发送ajax请求
	 * @param data
	 */
	function ajax_reg (data) {
		$.ajax({
			url:"addresslist",
			async: false,
			type: "POST",
			data: data,
			dataType: "json",
			success: function (data) {
				if (data.status == 0) {
					layer.msg(data.msg, {icon: 2});
				} else {
					layer.msg(data.msg, {icon: 1});
				}
			}
		});
	}


</script>
</html>
