<!doctype html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<title>{$web_tdk.name}|订单列表</title>
<meta name="keywords" content="{$web_tdk.keywords}" />
<meta name="description" content="{$web_tdk.desc}" />
{include file="common/link"}
</head>
<body>
<div class="noo-spinner">
	<div class="spinner">
		<div class="cube1"></div>
		<div class="cube2"></div>
	</div>
</div>
<!-- 移动端导航开始 -->
{include file="common/mobile-part"}
<!-- 移动端导航结束 -->

<div class="site">
	{include file="common/head-message"}
	{include file="common/header-part"}

	<header class="header header-mobile">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div class="header-left">
						<div id="open-left"><i class="ion-navicon"></i></div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="header-center">
						<a href="javascript:;" id="logo-2">
							<img class="logo-image" src="__INDEX__/images/logo.png" alt="Organik Logo" />
						</a>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="header-right">
						<div class="mini-cart-wrap">
							<a href="cart.html">
								<div class="mini-cart">
									<div class="mini-cart-icon" data-count="2">
										<i class="ion-bag"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="main">
		<div class="section section-bg-10 pt-11 pb-17">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-title text-center">order us</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-2 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumbs">
							<li><a href="{:url('index/index')}">首页</a></li>
							<li>订单列表</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

        <!-- 详情页开始 -->
		<div class="section pt-7 pb-7">
			<div class="container">
				<div class="row">
                    <!-- 侧栏导航 -->
					{include file="common/user-sidebar"}

					<div class="col-md-9" style="padding: 20px; background-color: #F2F2F2;min-height:400px;">
						<div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
						    <ul class="layui-tab-title site-demo-title">
						        <li>评价商品</li>
						    </ul>
						</div>

						<!-- 模态框开始 -->
						<div class="modal fade modleDailog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<form action="" class="layui-form">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4>商品评价：</h4>
											<textarea name="goods_comment" placeholder="请输入商品评价" class="layui-textarea" rows="5" cols="150"></textarea>
										</div>
										<input type="hidden" name="order_sn" value="" id="order_sn">
										<input type="hidden" name="goods_id" value="" id="order_goods">
										<input type="hidden" name="order_goods_id" value="" id="order_goods_id">
										<div class="modal-body">
											<h4>商品评分：</h4>
											<ul id="pingStar">
												<li rel = "1" title = "特别差，给1分"></li>
												<li rel = "2" title = "很差，给2分"></li>
												<li rel = "3" title = "一般，给3分"></li>
												<li rel = "4" title = "很好，给4分"></li>
												<li rel = "5" title = "非常好，给5分"></li>
												<span id="dir"></span>
											</ul>
											<input type="hidden" name="comment_grade" value="" id="startP">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary layui-btn" lay-filter="add" lay-submit="">提交评价</button>
										</div>
									</div><!-- /.modal-content -->
								</form>
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- 模态框结束 -->

                        <div class="layui-card">
                            <table class="table shop-cart" style="margin:0;">
  								<tbody>
									{volist name="order_goods" id="vo"}
  	                            	<tr class="cart_item" style="border:0;">
  										<td class="product-thumbnail">
  											<a href="{:url('Shopdateil/index',array('id'=>$vo['goods_id']))}">
  												<img src="{$vo.goods_thumb}" alt="{$vo.goods_name}">
  											</a>
  										</td>
  										<td class="product-info">
  											<a href="{:url('Shopdateil/index',array('id'=>$vo['goods_id']))}">{$vo.goods_name}</a>
  											<span class="sub-title" style="text-decoration: line-through;">原价：￥{$vo.goods_price}</span>
  										</td>
  										<td class="product-quantity">
  											<span class="sub-title">数量：x{$vo.goods_count}</span>
  										</td>
  										<td class="product-subtotal">
  											<span class="sub-title">会员价：￥{$vo.goods_vip}</span>
  										</td>
  	                                    <td class="product-subtotal">
											{if condition="$vo['is_comment'] eq 0"}
												<span class="sub-title">待评价</span>
											{else}
											<span class="sub-title">已评价</span>
											{/if}
  										</td>
										<td class="product-subtotal">
											{if condition="$vo['is_comment'] eq 0"}
												<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-toggle="modal" data-target="#myModal" data-target=".modleDailog" onclick="values('{$vo.order_sn}', '{$vo.goods_id}', '{$vo.order_goods_id}')">立即评价
													<!-- <a href="{:url('Order/orderPay',array('order_sn'=>$vo['order_sn']))}" style="color:white;">立即评价</a> -->
												</button>
											{else}
										    	<span class="sub-title">已评价</span>
											{/if}
										</td>
  									</tr>
									{/volist}

  								</tbody>
  							</table>
                        </div>
					</div>

				</div>
			</div>
		</div>
		<!-- 详情页结束 -->
	</div>
    {include file="common/footer"}
</div>
<style>
	.modal-backdrop.in{
		display: none;
	}
	.modal.in .modal-dialog{
	    margin-top: 200px;
	}

    .modal-body{
    	min-height: 70px;
    }
	.modal-body h4{
		margin-left:5px;
	}
	.modal-body ul{
		float:left;
		margin-top: 5px;
	}
	.modal-body ul li{
		list-style: none;
		width:32px;
		height:21px;
		float:left;
		background:url(__INDEX__/images/stark2.png) no-repeat;

	}
	.modal-body ul li.on{
		background:url(__INDEX__/images/stars2.png) no-repeat;
	}
	.modal-body ul span{
		display:inline;
		float:left;
		padding-left:10px;
		height:21px;
		line-height:21px;
	}
</style>

<script>

//模态框传值
$('#myModal').modal("hide");
function values(ORDER_SN,ID,ORDER_GOODS_ID){
	$('#order_sn').val(ORDER_SN);
	$('#order_goods').val(ID);
	$('#order_goods_id').val(ORDER_GOODS_ID);
}
//星星评分
window.onload = function(){
	var s = document.getElementById("pingStar");
		m = document.getElementById("dir"),
		n = s.getElementsByTagName("li"),
		input = document.getElementById("startP");//保存所选值
	clearAll = function(){
		for(var i = 0;i < n.length;i++){
			n[i].className = "";
		}
	}
	for(var i = 0;i < n.length;i++){
		n[i].onclick = function(){
			var q = this.getAttribute("rel");
			clearAll();
			input.value = q;
			for(var i = 0;i < q;i++){
				n[i].className = "on";
			}
			m.innerHTML = this.getAttribute("title");
		}
		n[i].onmouseover = function(){
			var q = this.getAttribute("rel");
			clearAll();
			for(var i = 0;i < q;i++){
				n[i].className = "on";
			}
			m.innerHTML = this.getAttribute("title");
		}
		n[i].onmouseout = function(){
			clearAll();
			for(var i = 0;i < input.value;i++){
				n[i].className = "on";
			}
		}
	}
}


layui.use(['layer', 'form'], function() {
	var layer = layui.layer,
	$ = layui.jquery,
	form = layui.form;

    //删除订单
	$('.order_del').click(function (){
		//订单编号
		var order_sn = $(this).attr('data-id');
		layer.confirm('确认要删除订单吗？',function(index){
			$.ajax({
				url:"{:url('UserOrder/order_del')}",
				type:'post',
				dataType:'json',
				data:{order_sn:order_sn},
				success:function (data){
					if (data.status == 1) {
						layer.msg(data.msg);
					} else {
						layer.msg(data.msg);
					}
				}
			},'json');
			return false;
		});
	});

	//监听提交
	form.on('submit(add)',
	function(data) {
		//获取表单数据
		var dataadd = data.field;
		$.ajax({
			type:"post",
			dataType:"json",
			data:{data:dataadd},
			url:"{:url('UserOrder/comment_order')}",
			success:function(data){
				if (data.status == 1) {
					layer.alert(data.msg, {
						title: '提示框',
						icon: 1,
					});
				} else {
					layer.alert(data.msg, {
						title: '提示框',
						icon: 0,
					});
				}
			}
		},'json');
		return false;
	});



});
</script>
</body>
</html>
