<!doctype html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<title>{$web_tdk.name}|会员登录</title>
	<meta name="keywords" content="{$web_tdk.keywords}" />
	<meta name="description" content="{$web_tdk.desc}" />
	{include file="common/link"}
	<link href="__INDEX__/css/login.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="__INDEX__/js/register.js" charset="utf-8"></script>
</head>
<body>

	<div class="noo-spinner">
		<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
		</div>
	</div>
	<!-- 移动端导航开始 -->
	{include file="common/mobile-part"}
	<!-- 移动端导航结束 -->


	<div class="site">
		{include file="common/head-message"}
		{include file="common/header-part"}

		<header class="header header-mobile">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="header-left">
							<div id="open-left"><i class="ion-navicon"></i></div>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="header-center">
							<a href="javascript:;" id="logo-2">
								<img class="logo-image" src="__INDEX__/images/logo.png" alt="Organik Logo" />
							</a>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="header-right">
							<div class="mini-cart-wrap">
								<a href="cart.html">
									<div class="mini-cart">
										<div class="mini-cart-icon" data-count="2">
											<i class="ion-bag"></i>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="main">

			<div class="section border-bottom pt-2 pb-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumbs">
								<li><a href="{:url('index/index')}">首页</a></li>
								<li>注册</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p style="height:10px;"></p>

						<div class="organik-seperator mb-6 center">
							<span class="sep-holder"><span class="sep-line"></span></span>
							<div class="sep-icon"><i class="organik-flower"></i></div>
							<span class="sep-holder"><span class="sep-line"></span></span>
						</div>
						<div class="contact-form-wrapper">
							<div class="agile_info">
							    <div class="w3l_form">
							        <div class="left_grid_info">
							            <h3>欢迎光临 !</h3>
							            <p>王小波的黑铁时代有一句是这么说的，人的一切痛苦，本质上都是因为自己的无能的愤怒，世界很大，请多吃点水果</p>
							            <ul class="social_section_1info">
							                <li><a href="javascript:;" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
							                <li><a href="javascript:;" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
							                <li><a href="javascript:;" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
							                <li><a href="javascript:;" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
							                <li><a href="javascript:;" class="w3_pinterest"><i class="fa fa-pinterest"></i></a></li>
							                <li><a href="javascript:;" class="w3_vimeo"><i class="fa fa-vimeo"></i></a></li>
							            </ul>
							        </div>
							    </div>
							    <div class="w3_info">
							        <h2>会员登录</h2>
							        <p>欢迎您再次回来</p>
							        <form action="javascript:;" method="post">
										<input type="hidden" name="__token__" value="{$Request.token}" id="token"/>
							            <div class="input-group">
							                <span><i class="fa fa-user" aria-hidden="true"></i></span>
							                <input type="text" placeholder="用户名/邮箱/手机号" id="user_name" name="user_name" required="" value="{$log_username}">
							            </div>
							            <div class="input-group">
							                <span><i class="fa fa-lock" aria-hidden="true"></i></span>
							                <input type="Password" placeholder="密码" name="user_password" required="" id="login_password" value="{$log_password}">
							            </div>
							            <div class="input-group" style="padding-right:0px;">
							                <span><i class="fa fa-user" aria-hidden="true"></i></span>
							                <input type="text" placeholder="图形验证码" required="" style="width:50%;" id="login_captcha" name="captcha">
							                <img class="form-control" style="width:40%;height:40px;float:right;padding: 0;" src="{:captcha_src()}" alt="图形验证码">
							            </div>
							            <div class="input-group" style="width:50%;border:0;">
							                <input id="remember" type="checkbox" name="remember" value="1" checked='checked'>记住密码
							            </div>
							            <button class="btn btn-danger btn-block" type="submit" lay-submit lay-filter="login" id="login">立即登录</button >
							        </form>
							    </div>
							</div>
						</div>
						<p style="height:50px;"></p>
					</div>
				</div>
	     	</div>
		</div>
	    {include file="common/footer"}
	</div>
</body>
<script type="text/javascript">
	//点击验证码切换
	$(".form-control").click(function (){
		var src = "{:url('register/verify')}";
		$(this).attr('src', src + "?" + Math.round(Math.random() * 1000));
	});


	$(function () {
		layui.use('form', function(){
			var form = layui.form;
			//监听提交
			form.on('submit(login)', function(data){

				//请填写用户名/邮箱/手机号
				var name = $("#user_name").val().trim();
				if (name.length == 0) {
					layer.msg('请填写用户名/邮箱/手机号', {icon: 2});
					return false;
				}
				//请填写密码
				var password = $("#login_password").val().trim();
				if (password.length == 0) {
					layer.msg('密码不能为空', {icon: 2});
					return false;
				}
				//判断密码长度
				if ((password.length < 6) || (password.length > 32)) {
					layer.msg('密码不能小于6位或者大于32位', {icon: 2});
					return false;
				}
				//请填写验证码
				var captcha = $("#login_captcha").val().trim();
				if (captcha.length == 0) {
					layer.msg('验证码不能为空', {icon: 2});
					return false;
				}
				//判断是否勾选记住密码
				var remember = $("#remember:checked").val();
				//表单令牌
				var token = $("#token").val();

				var data = {
					user_name:name,
					user_password:password,
					captcha:captcha,
					remember: remember,
					__token__:token,
				}

				//获取表单数据
				$.ajax({
					type:"post",
					dataType:"json",
					data:{data:data},
					url:"{:url('Register/loginRes')}",
					success:function(data){
						if (data.status == 1) {
							layer.alert(data.msg, {
								title: '提示框',
								icon: 1,
							});
							setTimeout(function () {
								location.href="{:url('user/index')}";
							},1000);
						} else {
							layer.alert(data.msg, {
								title: '提示框',
								icon: 0,
							});
						}
					}
				},'json');
				return false;
			});
		});
	})

</script>
</html>
