<!doctype html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>{$web_tdk.name}|关于我们</title>
<meta name="keywords" content="{$web_tdk.keywords}" />
<meta name="description" content="{$web_tdk.desc}" />
{include file="common/link"}
</head>
<body>

<div class="noo-spinner">
	<div class="spinner">
		<div class="cube1"></div>
		<div class="cube2"></div>
	</div>
</div>
<!-- 移动端导航开始 -->
{include file="common/mobile-part"}
<!-- 移动端导航结束 -->

<div class="site">
    {include file="common/head-message"}
	{include file="common/header-part"}

	<header class="header header-mobile">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div class="header-left">
						<div id="open-left"><i class="ion-navicon"></i></div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="header-center">
						<a href="javascript:;" id="logo-2">
							<img class="logo-image" src="__INDEX__/images/logo.png" alt="Organik Logo" />
						</a>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="header-right">
						<div class="mini-cart-wrap">
							<a href="cart.html">
								<div class="mini-cart">
									<div class="mini-cart-icon" data-count="2">
										<i class="ion-bag"></i>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="main">
		<div class="section section-bg-9 pt-11 pb-17">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-title text-center">about us</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-2 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumbs">
							<li><a href="{:url('index/index')}">首页</a></li>
							<li>关于我们</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-10 pb-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center mb-2 section-pretitle">About Us</div>
						<h2 class="text-center section-title mtn-3">我们的小故事</h2>
						<div class="organik-seperator mb-9 center">
							<span class="sep-holder"><span class="sep-line"></span></span>
							<div class="sep-icon"><i class="organik-flower"></i></div>
							<span class="sep-holder"><span class="sep-line"></span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="about-main-img col-lg-6">
						<img src="__INDEX__/images/about_1.jpg" alt="" />
					</div>
					<div class="about-content col-lg-6">
						<div class="about-content-title">
							<h4>家庭农场</h4>
							<div class="about-content-title-line"></div>
						</div>
						<div class="about-content-text">
							<p>我们的农场是第二代有机农场，提供最好和最健康的有机食品，促进社区健康，并带来一种发现感和冒险的食品购物。</p>
							<p>欢迎访问我们的网站<br></p>
						</div>
						<div class="about-carousel" data-auto-play="true" data-desktop="4" data-laptop="4" data-tablet="4" data-mobile="2">
							<a href="images/carousel/img_large_1.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_1.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
							<a href="images/carousel/img_large_2.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_2.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
							<a href="images/carousel/img_large_3.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_3.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
							<a href="images/carousel/img_large_4.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_4.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
							<a href="images/carousel/img_large_5.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_5.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
							<a href="images/carousel/img_large_6.jpg" data-rel="prettyPhoto[gallery]">
								<img src="__INDEX__/images/carousel/img_6.jpg" alt="" />
								<span class="ion-plus-round"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-light pt-16 pb-6">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center mb-3 section-pretitle">为什么选择水果鲜生?</div>
						<div class="organik-seperator mb-9 center">
							<span class="sep-holder"><span class="sep-line"></span></span>
							<div class="sep-icon"><i class="organik-flower"></i></div>
							<span class="sep-holder"><span class="sep-line"></span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="icon-boxes">
							<div class="icon-boxes-icon"><i class="ion-android-star-outline"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title"> 吃得更健康</h6>
								<p>获得每日新鲜的水果和蔬菜</p>
							</div>
						</div>
						<div class="icon-boxes">
							<div class="icon-boxes-icon"><i class="organik-lemon"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title"> 我们的实力</h6>
								<p>我们一直为客户种植有机农产品</p>
							</div>
						</div>
						<div class="icon-boxes">
							<div class="icon-boxes-icon"><i class="organik-cucumber"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title"> 新鲜的,无农药</h6>
								<p>我们提供无农药有机农产品</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="text-center">
							<img src="__INDEX__/images/about_pic.png" alt="" />
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="icon-boxes right">
							<div class="icon-boxes-icon"><i class="organik-broccoli"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title">无条件退款</h6>
								<p>我们提供七天无条件退款服务</p>
							</div>
						</div>
						<div class="icon-boxes right">
							<div class="icon-boxes-icon"><i class="organik-carrot"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title"> 灵活的调配</h6>
								<p>选择最适合您需要的交付地址</p>
							</div>
						</div>
						<div class="icon-boxes right">
							<div class="icon-boxes-icon"><i class="organik-tomato"></i></div>
							<div class="icon-boxes-inner">
								<h6 class="icon-boxes-title">客制化服务</h6>
								<p>定制您的专属食品.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-11 pb-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center mb-1 section-pretitle">我们的工作者</div>
						<h2 class="text-center section-title mtn-2">辛勤劳作的朋友</h2>
						<div class="organik-seperator center mb-8">
							<span class="sep-holder"><span class="sep-line"></span></span>
							<div class="sep-icon"><i class="organik-flower"></i></div>
							<span class="sep-holder"><span class="sep-line"></span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="team-member">
							<div class="image">
								<img src="__INDEX__/images/testimonial/picture_3.jpg" alt="孙悟空" />
							</div>
							<div class="team-info">
								<h5 class="name">孙悟空</h5>
								<p class="bio">孙悟空，又名孙行者，自封花果山美猴王、齐天大圣。曾任天官弼马温。玉帝后来为了招安孙悟空，承认了他自封的封号齐天大圣.</p>
								<ul class="social-list">
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="team-member">
							<div class="image">
								<img src="__INDEX__/images/testimonial/picture_4.jpg" alt="猪八戒" />
							</div>
							<div class="team-info">
								<h5 class="name">猪八戒</h5>
								<p class="bio">猪八戒，又名猪刚鬣，法号悟能（观音取），浑名八戒（唐僧取），是唐僧的二徒弟，会天罡数的三十六般变化.</p>
								<ul class="social-list">
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="team-member">
							<div class="image">
								<img src="__INDEX__/images/testimonial/picture_2.jpg" alt="沙和尚" />
							</div>
							<div class="team-info">
								<h5 class="name">沙和尚</h5>
								<p class="bio">原为天宫玉皇大帝的卷帘大将，因为失手不小心打破了琉璃盏，触犯天条，被贬出天界，在人间流沙河兴风作浪，危害一方，专吃过路人</p>
								<ul class="social-list">
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="javascript:;" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-2 pb-4">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="client-carousel" data-auto-play="true" data-desktop="5" data-laptop="3" data-tablet="3" data-mobile="2">
							<div class="client-item">
								<a href="javascript:;" target="_blank">
									<img src="__INDEX__/images/client/client_1.png" alt="" />
								</a>
							</div>
							<div class="client-item">
								<a href="javascript:;" target="_blank">
									<img src="__INDEX__/images/client/client_2.png" alt="" />
								</a>
							</div>
							<div class="client-item">
								<a href="javascript:;" target="_blank">
									<img src="__INDEX__/images/client/client_3.png" alt="" />
								</a>
							</div>
							<div class="client-item">
								<a href="javascript:;" target="_blank">
									<img src="__INDEX__/images/client/client_4.png" alt="" />
								</a>
							</div>
							<div class="client-item">
								<a href="javascript:;" target="_blank">
									<img src="__INDEX__/images/client/client_5.png" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {include file="common/footer"}
</div>


</body>
</html>
