<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX__/css/font-awesome.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="__INDEX__/css/ionicons.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="__INDEX__/css/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX__/css/owl.theme.css" type="text/css" media="all">
<link rel='stylesheet' href='__INDEX__/css/prettyPhoto.css' type='text/css' media='all'>
<link rel="stylesheet" href="__INDEX__/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX__/css/custom.css" type="text/css" media="all">
<link href="__INDEX__/css/fonts.css" rel="stylesheet">


<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/modernizr-2.7.1.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/jquery.countdown.min.js"></script>
<script type='text/javascript' src='__INDEX__/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='__INDEX__/js/jquery.prettyPhoto.init.min.js'></script>
<script type="text/javascript" src="__INDEX__/js/script.js"></script>
<!-- layui弹窗 -->
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
<script type="text/javascript" src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
