<div id="menu-slideout" class="slideout-menu hidden-md-up">
    <div class="mobile-menu">
        <ul id="mobile-menu" class="menu">
            <li><a href="{:url('index/index')}" {if condition="$controller eq 'Index' "} style="color:#5fbd74;" {/if} >首页</a></li>
            <li><a href="{:url('Shop/index')}" {if condition="$controller eq 'Shop' "} style="color:#5fbd74;" {/if}>商品列表</a></li>
            <li><a href="{:url('About/index')}" {if condition="$controller eq 'About' "} style="color:#5fbd74;" {/if}>关于我们</a></li>
            <li><a href="{:url('Contact/index')}" {if condition="$controller eq 'Contact' "} style="color:#5fbd74;" {/if}>联系我们</a></li>
            <li><a href="{:url('User/index')}" {if condition="$controller eq 'User' "} style="color:#5fbd74;" {/if}>会员中心</a></li>
        </ul>
    </div>
</div>
