<!-- 侧栏导航 -->
<div class="col-md-3">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;width: 100%;">
        <li class="layui-nav-item"><a href="{:url('user/index')}" title="个人信息">个人信息</a></li>
        <li class="layui-nav-item"><a href="{:url('UserMessage/index')}" title="安全设置">安全设置</a></li>
        <li class="layui-nav-item"><a href="{:url('user/addresslist')}" title="收货地址">收货地址</a></li>
        <li class="layui-nav-item"><a href="{:url('user/collect')}" title="我的收藏">我的收藏</a></li>
        <li class="layui-nav-item"><a href="{:url('UserOrder/index')}" title="订单管理">订单管理</a></li>
        <li class="layui-nav-item"><a href="javascript:;" title="退货售后">退货售后</a></li>
        <!-- <li class="layui-nav-item"><a href="javascript:;" title="商品评价">商品评价</a></li>
        <li class="layui-nav-item"><a href="javascript:;" title="账单明细">账单明细</a></li> -->
        <span class="layui-nav-bar" style="top: 272.5px; height: 0px; opacity: 0;"></span>
    </ul>
</div>
