<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />

  <script src="__PUBLIC__/layui/layui.js"></script>
  <script src="__PUBLIC__/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="__INDEX__/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css" type="text/css" media="all">

  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">
        /* tooltip */
        #tooltip{
          position:absolute;
          border:1px solid #ccc;
          background:#333;
          padding:2px;
          display:none;
          color:#fff;
        }
  </style>
</head>
<body style="padding:10px;">

    <!-- 模态框开始 -->
    <div class="modal fade modleDailog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="" class="layui-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4>拒绝描述：</h4>
                        <textarea name="reply_content" placeholder="请输入拒绝原因" class="layui-textarea reply_content" rows="5" cols="150"></textarea>
                    </div>
                    <input type="hidden" name="reply_id" value="" id="reply_id">
                    <!-- <div class="modal-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:100px;">拒绝原因</label>
                            <div class="layui-input-inline">
                                <select name="return_seller_cause" lay-filter="aihao">
                                    <option value="1">现摘蔬菜</option>
                                    <option value="2">鲜榨果汁</option>
                                    <option value="3">新鲜水果</option>
                                    <option value="4">美味果脯</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="modal-footer">
                        <input type="button" data-dismiss="modal" value="关闭" class="btn btn-default">
                        <input type="button" lay-filter="add" lay-submit="" value="提交原因" class="btn btn-primary layui-btn" onclick="refuse()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 模态框结束 -->

  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">申请退款列表</li>
      </ul>
    </div>
    <table class="layui-table" lay-size="sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>商品名称</th>
          <th>缩略图</th>
          <th>用户名称</th>
          <th>退款编号</th>
          <th>退款状态</th>
          <th>退款类型</th>
          <th>申请时间</th>
          <th>退款金额</th>
          <th>退款描述</th>
          <th>实收款</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
          {volist name="refundlist" id="vo"}
          <tr>
            <td>{$vo.return_id}</td>
            <td>{$vo.goods_name}</td>
            <td><img src="{$vo.goods_thumb}" width="30" height="30"></td>
            <td>{$vo.user_name}</td>
            <td>{$vo.return_sn}</td>
            <td>
                {switch name="$vo['return_status']"}
                    {case value="-2"}全部{/case}
                    {case value="-1"}已取消{/case}
                    {case value="0"}申请退款中{/case}
                    {case value="1"}退款成功{/case}
                    {case value="2"}拒绝申请{/case}
                    {default /}
                {/switch}
            </td>
            <td>
                {switch name="$vo['return_type']"}
                    {case value="1"}仅退款{/case}
                    {case value="2"}退货退款{/case}
                    {default /}
                {/switch}
            </td>
            <td>{$vo.return_time|date="Y-m-d H:i:s",###}</td>
            <td>{$vo.return_money}</td>
            <td>{$vo.return_desc}</td>
            <td>{$vo.return_money}</td>
            <td>
                <span title="同意退款" id="{$vo.return_id}" onclick="consent(this,{$vo.return_id})" style="font-size:18px;"><i class="layui-icon-ok"></i></span>
                <span title="拒绝退款" data-toggle="modal" data-target="#myModal" data-target=".modleDailog" onclick="values('{$vo.return_id}')" style="font-size:18px;"><i class="layui-icon"></i></span>
                <span title="取消申请" id="{$vo.return_id}" onclick="cancel(this,{$vo.return_id})" style="font-size:18px;"><i class="layui-icon"></i></span>
                <span title="删除申请" id="{$vo.return_id}" onclick="del(this,{$vo.return_id})" style="font-size:18px;"><i class="layui-icon"></i></span>
            </td>
          </tr>
          {/volist}
      </tbody>
    </table>
    <div style="padding:0 20px;">{$refundlist->render()}</div>
    {include file="public/foot"}

    <script type="text/javascript">
        //layer弹窗组件
    	layui.use(['form', 'layer'],
    	function() {
    		$ = layui.jquery;
    		var form = layui.form,
    		layer = layui.layer;
    	});

        //模态框传值
        $('#myModal').modal("hide");
        function values(ID){
        	$('#reply_id').val(ID);
        }


        //取消申请
        function cancel(obj,id){
            layer.confirm('确定要取消申请?', function(index) {
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{id:id},
                    url:"{:url('order/refund_cancel')}",
                    success:function(data){
                        if (data.status == 1) {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 1,
                            });
                        } else {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 0,
                            });
                        }
                    }
                },'json');
            });
            return false;
        }

        //删除申请
        function del(obj,id){
            layer.confirm('确定要删除申请?', function(index) {
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{id:id},
                    url:"{:url('order/refund_del')}",
                    success:function(data){
                        if (data.status == 1) {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 1,
                            });
                        } else {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 0,
                            });
                        }
                    }
                },'json');
            });
            return false;
        }

        //同意申请
        function consent(obj,id){
            layer.confirm('确定要同意申请?', function(index) {
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{id:id},
                    url:"{:url('order/refund_consent')}",
                    success:function(data){
                        if (data.status == 1) {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 1,
                            });
                        } else {
                            layer.alert(data.msg, {
                                title: '提示框',
                                icon: 0,
                            });
                        }
                    }
                },'json');
            });
            return false;
        }

        //拒绝退款
        function refuse(){
            //获取表单数据
            var reply_content = $(".reply_content").val();
            var reply_id = $("#reply_id").val();
            $.ajax({
                type:"post",
                dataType:"json",
                data:{return_seller_desc:reply_content,reply_id:reply_id},
                url:"{:url('order/refund_refuse')}",
                success:function(data){
                    if (data.status == 1) {
                        layer.alert(data.msg, {
                            title: '提示框',
                            icon: 1,
                        });
                    } else {
                        layer.alert(data.msg, {
                            title: '提示框',
                            icon: 0,
                        });
                    }
                }
            },'json');
            return false;
        }



    </script>
  </div>
</body>
</html>
